<div class="row">
<div class="col-md-4">

    <!--Card-->
    <div class="card card-cascade wider">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="public/images/21_ST_CENTURY_EDUCATION.jpg" class="img-responsive">
            <a href="#!">
                <div class="mask waves-effect waves-light"></div>
            </a>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-block text-center">
            <!--Title-->
            <h6 class="card-title"><strong>Information and Communication Technology</strong></h6>
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
            <a class="btn btn-primary btn-sm btn-block">View Details>>>...</a>
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>

<div class="col-md-4">

    <!--Card-->
    <div class="card ">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2840%29.jpg" class="img-responsive" alt="">
            <a>
                <div class="mask waves-effect waves-light"></div>
            </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block">
            <!--Title-->
            <h6 class="card-title"><strong>Civil Engineering</strong> </h6>
            <!--Text-->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
            <a class="btn btn-primary btn-sm btn-block">View Details>>>...</a>
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>

<div class="col-md-4">

    <!--Card-->
    <div class="card card-cascade">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" class="img-responsive" alt="">
            <a>
                <div class="mask waves-effect waves-light"></div>
            </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block text-center">
            <!--Title-->
            <h6 class="card-title"><strong>Hospitality Management</strong></h6>
        
            <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
            </p>
            <a class="btn btn-primary btn-sm btn-block">View Details>>>...</a>
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

</div>
</div>