    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h2>Welcome Message From Principal.</h2>
        <p>Dear visitors,
I am very glad to welcome you to the official website of Integrated Polytechnic Regional Center – East. This website has been developed with the aim of providing to our visitors useful and updated information regarding Technical and Vocational Education Training in Rwanda and especially in our academic institution.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more about IPRC-East &raquo;</a></p>
      </div>
    </div>
        <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Academics</h1>
                <p>
et nunc mattis sem pretium congue a sit amet tellus. Etiam condimentum dui nibh, et commodo eros efficitur dapibus.Etiam condimentum dui nibh, et commodo eros efficitur dapibus.Etiam condimentum dui nibh, et commodo eros efficitur dapibus.</p>
            </div>
        </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h4>Hospitality Management</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h4>Information Technology</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <h4>Civil Engineering</h4>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
                <div class="col-md-3">
          <h4>Mechanical Engineering</h4>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
    </div>  
    </div> <!-- /container -->