<div class="container">
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="panel panel-primary" id="passwordRecovery" style="margin-top: 70px;">
			<div class="panel-heading">
				<h4 class="panel-title">Password Recovery</h4>
			</div>
			<div class="panel-body">
				<p>Provide your username and the password recovery information will be sent to your e-mail address</p>
				<form class="form-inline" name="passwordRecoveryForm">
					<div class="form-group">
						<label for="passwordRecovery">Username&nbsp;</label>
						<input type="email" 
						name="email" 
						ng-model="email" 
						required 
						class="form-control" 
                        minlength="7"
                        maxlength="30" 
						/>
						<button type="submit" class="btn btn-success" ng-disabled="passwordRecoveryForm.$invalid">&nbsp;Send</button>
					</div>
					<!--Password Recovery field Validation-->
					<div class="help-block" ng-messages="passwordRecoveryForm.email.$error" ng-if="passwordRecoveryForm.email.$touched">
    <p ng-message="minlength" style="color: red">Your Username is too short.</p>
    <p ng-message="maxlength" style="color: red">Your Username is too long.</p>
    <p ng-message="required" style="color: red">Your Username is required.</p>
    <p ng-message="email" style="color: red">Your Username is Invalid.</p>
    </div>
				</form>
			</div>
		</div>
	</div>
</div>
	
</div>