body{
	background-color: #fff;font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',
	Geneva, Verdana, Sans-serif;
	font-size: 14px;color: #000;margin: 0px;border: 0px;
}
